.content {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px 40px;
  min-width: 700px;
}
.content .title {
  text-align: center;
}
.content > ul {
  width: 100%;
  padding-bottom: 50px;
}
.content > ul > li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  height: 50px;
  line-height: 50px;
  text-indent: 20px;
  cursor: pointer;
}

#app {
  background-color: #e6ecf0;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
}

.music-content {
  flex: 1;
}
